<!DOCTYPE html>
<html>
    <head>
        <title>Templete para 2 columnas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- CDN principal de Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!--CDN de Bootstrap con temas opcinales-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        Titulo de la view
                    </h1>                        
                </div>
            </div>        

            <div class="row">
                <div class="col-lg-12 text-left">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <br/>                            
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Titulo del Panel</h3>
                                </div>
                                <div class="panel-body">
                                    <!-- Fila de inputs/!-->
                                    <div class="row">
                                        <div class="col-lg-6 text-left">
                                            <!-- inputs/!-->
                                            <div class="form-group ">
                                                <label class="control-label">Input 1</label>
                                                <input type="text" class="form-control" >
                                            </div>
                                            <!--Fin  inputs/!-->
                                        </div>
                                        <div class="col-lg-6 text-left">
                                            <!-- inputs/!-->
                                            <div class="form-group">
                                                <label class="control-label" >Input 2</label>
                                                <input type="text" class="form-control">
                                            </div>                        
                                        </div>
                                    </div>                      
                                </div>
                            </div>                        
                        </div>                        
                    </div>  
                </div>
            </div><!--Fin del tag de fila-->
        </div><!-- Fin del tag del contenedor-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><!--NO TOCAR-->
    </body>
</html>